{% extends 'interna.html' %}

{% block content %}
    <h1>Produtos</h1>
    <div>
        <tr>
        <td><a href="{% url 'incluir_produtos'%}">Incluir</a></td>
        <td><a href="{% url 'index'%}">Voltar</a></td>
    </tr>
    </div>
    <table>
        <thead>
            <tr>
                <td>Nome</td>

                <td>Preço</td>
            </tr>
        </thead>


        <tbody>
            {% for l in produtos%}

            <tr>
                <td>{{ l.nome }}</td>
                <td>{{ l.preco }}</td>
                <td><a href="{% url 'alterar_produtos' l.id %}"> Alterar</a></td>
                <td><a href="{% url 'excluir_produtos' l.id %}" onclick="return excluir()"> Excluir</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock%}