{% extends 'interna.html' %}

{% block content %}
    <h1>Produtos</h1>
  
        <tr>
        <td><a href="{% url 'incluir_produtos'%}" class="btn btn-primary">Incluir</a></td>
        <td><a href="{% url 'index'%}" class="btn btn-secondary">Voltar a pagina</a></td>
    </tr>
  
    <table class="table table-striped">
        <thead>
            
                <td>Nome</td>

                <td>Preço</td>
            </tr>
        </thead>


        <tbody>
            {% for l in produtos%}

            <tr>
                <td>{{ l.nome }}</td>
                <td>{{ l.preco }}</td>
                <td><a href="{% url 'alterar_produtos' l.id %}" class="btn btn-secondary"> Alterar</a></td>
                <td><a href="{% url 'excluir_produtos' l.id %}" onclick="return excluir()" class="btn btn-danger"> Excluir</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock%}