{% extends 'interna.html' %}

{% block content %}
    <h1>LOJAS</h1>
    <div>
    <a href="{% url 'incluir_lojas'%}">Incluir</a>
    <a href="{% url 'index'%}">Voltar</a>
    <table>
        <thead>
        <tr>
            <td>Nome</td>
            <td>Telefone</td>
            <td>Ações</td>
        </tr>
        </thead>
    </div>

        <tbody>
            {% for l in lojas%}
   
            <tr>
                <td>{{ l.nome }}</td>
                <td>{{ l.telefone }}</td>
                <td><a href="{% url 'alterar_loja' l.id %}"> Alterar</a>
                    <a href="{% url 'excluir_loja' l.id %}" onclick="return excluir()"> Excluir</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}

