<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lojas</title>
</head>
<body>
    <h1>LOJAS</h1>
    <div>
    <a href="{% url 'incluir_lojas'%}">Incluir</a>
    <table>
        <thead>
            <tr>Nome</tr>
            <tr>Telefone</tr>
            <tr>Ações</tr>
        </thead>
    </div>
        <tbody>
            {% for l in lojas%}
            <tr>
                <td>{{ l.nome }}</td>
                <td>{{ l.telefone }}</td>
                <td>Alterar Excluir</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>